.shopCont {
  //   background: darkcyan;
  height: 100%;
  width: 100%;
  padding-top: 2%;
  .fruitCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0rem 2rem;
    .FruitHead {
      font-size: 40px;
      border-bottom: #454545 solid 3px;
    }
    .froutImgCont {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      margin: 1rem 1rem;

      .frtProduct {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
        td {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.vegCont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 0rem 2rem;
  .vegHead {
    font-size: 40px;
    border-bottom: #454545 solid 3px;
  }
  .vegImgCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 1rem 1rem;

    .vegProduct {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row;
      td {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
