.shopCont {
  background: #edf1f2;
  height: 100%;
  width: 100%;
  padding-top: 2%;
  .fruitCont {
    width: 100%;
    height: 70vh;
    background: #edf1f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0rem 2rem;
    .FruitHead {
      font-size: 40px;
      border-bottom: #454545 solid 3px;
    }
    .froutImgCont {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      margin: 1rem 1rem;

      .frtProduct {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
        td {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.vegCont {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #edf1f2;
  flex-flow: column;
  padding: 0rem 2rem;
  .vegHead {
    font-size: 40px;
    border-bottom: #454545 solid 3px;
  }
  .vegImgCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 1rem 1rem;

    .vegProduct {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row;
      td {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.cartBtn {
  overflow: hidden;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 0px
    darken($color: #dadedf, $amount: 20);
  .cartBtnLogo {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    transition: 0.4s ease-in-out all;
    z-index: 1000;
  }
  .cartBtnlbl {
    background: #e94a35;
    color: white;
    position: absolute;
    height: 27px;
    width: 27px;
    padding: 0;
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 58px;
    transition: 0.4s ease-in-out all;
    top: -8px;
    box-shadow: 1px 1px 5px 0px
      darken($color: #e94a35, $amount: 20);
  }
  div {
    transition: 0.4s ease-in-out all;
  }
  transition: 0.4s ease-in-out all;
  z-index: 10000;
}
