$navBarBgColor: #e9e9e9;

.navBody {
  background: $navBarBgColor;
  height: 90%;
  width: 100%;
  .navContent {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    div {
      font-size: 40px;
      font-family: Montserrat, sans-serif;
      line-height: 56px;
      font-weight: 400px;
      font-style: normal;
      margin-bottom: 40px;
      span {
        font-family: MontserratBold, sans-serif;
        font-weight: bold;
      }
    }
    .welcomeBtn {
      border-radius: 4px;
      width: 152px;
      height: 50px;
      border: 1px solid #434343;
      transition: 0.4s ease-in-out;
      &:focus {
        box-shadow: none;
        border: 1px solid #434343;
      }
    }
  }
}

.content {
  height: 25rem;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: Montserrat;
  font-size: 20px;
  padding: 0 10rem;
  span {
    font-size: 40px;
    margin-bottom: 2rem;
    border-bottom: rgba($color: #434343, $alpha: 0.7) solid;
  }
}

.mission {
  height: 20rem;
  width: 100%;
  margin-top: 2rem;
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  .missionContent {
    padding-left: 10rem;
    padding-right: 15rem;
    span {
      // font-weight: bold;
      font-size: 32px;
    }
  }

  .missionContentLoad {
    padding-left: 10rem;
    padding-right: 15rem;
    animation: loadMission 0.6s linear forwards;
    span {
      // font-weight: bold;
      font-size: 32px;
    }
  }
}

@keyframes loadMission {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}

.ourTeam {
  height: 50rem;
  margin-top: 7rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: Montserrat;
  .txt {
    font-size: 40px;
  }
}
.cyp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-bottom: 5rem;
  font-family: Montserrat;
  .txt {
    font-size: 40px;
    margin-bottom: 2rem;
  }
}

.fruits {
  font-family: Montserrat;
  // background: #e9e9e9;
  padding: 2rem 0;
  .fruitsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    .txt {
      margin-bottom: 2rem;
      font-size: 40px;
      border-bottom: rgba($color: #434343, $alpha: 0.7) solid;
      span {
        font-family: MontserratBold;
      }
    }
  }
}

.vegis {
  font-family: Montserrat;
  padding: 3rem 0;
  margin-top: 2rem;
  .vegisContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    .txt {
      font-size: 40px;
      margin-bottom: 3rem;
      span {
        font-family: MontserratBold;
      }
    }
  }
}

.dry {
  font-family: Montserrat;
  padding: 3rem 0;
  margin-top: 2rem;
  .dryContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    .txt {
      font-size: 40px;
      margin-bottom: 3rem;
      span {
        font-family: MontserratBold;
      }
    }
  }
}

@font-face {
  font-family: Montserrat;
  src: url("../../Assets/Fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: MontserratBold;
  src: url("../../Assets/Fonts/Montserrat-Bold.ttf");
}
